.action-button, .author-info, .blurb-info, .tiny-info, .latest-link, p, h2, h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p, h2, h3 {
    font-size: 12pt;
}

#sr-announcements .action-button,
#sr-announcements p,
#sr-announcements h3 {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#background-container {
    position: absolute;
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;
    z-index: -1;
}

#background-left,
#background-right {
    position: absolute;
    top: 0;
    height: 100vh;
    left: 0;
    width: calc(50vw - 308px);
    z-index: -3;
}

#background-left {
    background-color: rgba(240, 248, 255, 0.1);
}

#background-right {
    left: calc(50vw + 308px);
    background-color: rgba(240, 248, 255, 0.1);
}

#transcript-darkener {
    max-width: 616px;
    margin: auto;
    height: 100%;

    background-color: white;
    z-index: -2;
}

body {
    margin: 0;
    padding: 0;
}

#game-container {
    position: absolute;
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;

    overflow: auto;

    background:
    linear-gradient(
        white 30%,
        rgba(255, 255, 255, 0)
    ) center top,

    linear-gradient(
        rgba(255, 255, 255, 0), 
        white 70%
    ) center bottom,

    radial-gradient(
        farthest-side at 50% 0,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
    ) center top,

    radial-gradient(
        farthest-side at 50% 100%,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
    ) center bottom;

    background-repeat: no-repeat;
    background-size: 100% 24px, 100% 12vh, 100% 8px, 100% 4vh;
    background-attachment: local, local, scroll, scroll;

    z-index: 0;
}

.transcript-div {
    max-width: 600px;
    margin: auto;
    padding: 8px;
    padding-top: 0;
    padding-bottom: 0;
}

#init-transcript-area {
    padding-top: 8px;
}

#bottom-page-spacer {
    min-height: 20vh;
}

h1, h2, h3, .author-info, .blurb-info, .tiny-info, .latest-link {
    animation: fadeIn 0.25s;
}

h1, .author-info, .blurb-info, .tiny-info, .latest-link {
    text-align: center;
}

h3 {
    margin-left: 16px;
}

h1, h3 {
    color: #A4A2A0;
}

h2 {
    font-size: 11pt;
    color: #C4C2C0;
    text-align: center;
}

.blurb-info {
    margin-top: 12px;
    margin-bottom: 12px;
}

.author-info {
    font-weight: 800;
}

.tiny-info, .latest-link {
    font-size: 9pt;
}

.latest-link {
    display: block;
}

.turn-action-button {
    mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16' height='16' version='1.1' viewBox='0 0 4.2333 4.2333' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0.26458 0.26458 3.175 1.5875v-1.5875h0.52917v3.7042h-0.52917v-1.5875l-3.175 1.5875z' fill='%23fff'/%3E%3C/svg%3E%0A");
}

.free-action-button {
    mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16' height='16' version='1.1' viewBox='0 0 4.2333 4.2333' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0.26458 0.26458 3.7042 1.8521-3.7042 1.8521z' fill='%23fff'/%3E%3C/svg%3E%0A");
}

.look-action-button {
    mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16' height='16' version='1.1' viewBox='0 0 4.2333 4.2333' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Ccircle cx='1.5875' cy='1.5875' r='.79375' d='M 2.38125,1.5875 A 0.79374999,0.79374999 0 0 1 1.5875,2.38125 0.79374999,0.79374999 0 0 1 0.79374999,1.5875 0.79374999,0.79374999 0 0 1 1.5875,0.79374999 0.79374999,0.79374999 0 0 1 2.38125,1.5875 Z' display='none' fill='%23bebebe'/%3E%3Cpath class='powerclip' d='m-4.7354-4.7354h12.646v12.646h-12.646zm7.1167 6.3229a0.79375 0.79375 0 0 0-0.79375-0.79375 0.79375 0.79375 0 0 0-0.79375 0.79375 0.79375 0.79375 0 0 0 0.79375 0.79375 0.79375 0.79375 0 0 0 0.79375-0.79375z' fill='%23bebebe'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg fill='%23fff'%3E%3Cpath d='m2.9104 1.5875a1.3229 1.3229 0 0 1-1.3229 1.3229 1.3229 1.3229 0 0 1-1.3229-1.3229 1.3229 1.3229 0 0 1 1.3229-1.3229 1.3229 1.3229 0 0 1 1.3229 1.3229z' clip-path='url(%23a)'/%3E%3Cpath d='m3.4396 3.9688 0.52917-0.52917-1.3229-1.3229-0.52917 0.52917z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.turn-action-button,
.free-action-button,
.look-action-button {
    mask-repeat: no-repeat;
    border-style: none;
    border-radius: 0;
    background-color: #006688;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 0px;
    padding-right: 16px;
}

.turn-action-button:disabled,
.turn-action-button[disabled],
.turn-action-button[aria-disabled=true],
.free-action-button:disabled,
.free-action-button[disabled],
.free-action-button[aria-disabled=true],
.look-action-button:disabled,
.look-action-button[disabled],
.look-action-button[aria-disabled=true] {
    background-color: #C2C1C0;
}

.turn-action-button:hover,
.free-action-button:hover,
.look-action-button:hover {
    background-color: #660088;
}

.turn-action-button:active,
.free-action-button:active,
.look-action-button:active {
    background-color: black;
}

a:link, a:hover, a.latest-link:visited {
    color: #006688;
}
a:visited {
    color: #660088;
}
a:active {
    color: #66AAFF;
}

.sr-only {
    position: absolute;
    left: -1000000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    /* Breaks Firefox screen reader interface */
    /*user-select: none;
    -webkit-user-select: none;*/
}

@media (prefers-color-scheme: dark) {
    html {
        color: #CCCCCC;
        background-color: black;
    }

    b, strong {
        color: white;
    }

    h1, h2, h3 {
        color: #606264;
    }

    h2 {
        color: #404244;
    }

    h2::before,
    h2::after {
        border-bottom: 1px solid #404244;
    }
    
    #transcript-darkener {
        background-color: black;
    }

    .turn-action-button,
    .free-action-button,
    .look-action-button {
        background-color: #00AAFF;
    }

    .turn-action-button:disabled,
    .turn-action-button[disabled],
    .turn-action-button[aria-disabled=true],
    .free-action-button:disabled,
    .free-action-button[disabled],
    .free-action-button[aria-disabled=true],
    .look-action-button:disabled,
    .look-action-button[disabled],
    .look-action-button[aria-disabled=true] {
        background-color: #202122;
    }

    .turn-action-button:hover,
    .free-action-button:hover,
    .look-action-button:hover {
        background-color: #AA00FF;
    }
    
    .turn-action-button:active,
    .free-action-button:active,
    .look-action-button:active {
        background-color: white;
    }

    a:link, a:hover, a.latest-link:visited {
        color: #00AAFF;
    }
    a:visited {
        color: #AA00FF;
    }
    a:active {
        color: #66AAFF;
    }

    #game-container {
        background:
        linear-gradient(
            black 30%,
            rgba(0, 0, 0, 0)
        ) center top,

        linear-gradient(
            rgba(0, 0, 0, 0), 
            black 70%
        ) center bottom,

        radial-gradient(
            farthest-side at 50% 0,
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0)
        ) center top,

        radial-gradient(
            farthest-side at 50% 100%,
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0)
        ) center bottom;

        background-repeat: no-repeat;
        background-size: 100% 24px, 100% 12vh, 100% 8px, 100% 4vh;
        background-attachment: local, local, scroll, scroll;
    }
}